.ooo-linkview {
    --stage-background-color: #AAF;
    --group-max-height: 600px;
    --group-table-border: 1px solid white;
    --item-header-background-color: #008;
    --item-header-font-color: white;
    --item-body-background-color-odd: #88F;
    --item-body-font-color-odd: #444;
    --item-body-background-color-even: #CCF;
    --item-body-font-color-even: #444;
    --item-height: 25px;
    --link-stroke: black;
    --link-stroke-width: 1px;
}

.top {
    border: solid black 1px;
    box-sizing: border-box;
}