.ooo-linkview {
    /* ======= Variables ======= */
    --stage-background-color: #AAF;
    --group-max-height: 100%;
    --group-table-border: 1px solid white;
    --item-header-background-color: #008;
    --item-header-font-color: white;
    --item-body-background-color-odd: #88F;
    --item-body-font-color-odd: #444;
    --item-body-background-color-even: #CCF;
    --item-body-font-color-even: #444;
    --item-height: 25px;
    --link-stroke: black;
    --link-stroke-width: 1px;
    /* ========================= */

    background-color: var(--stage-background-color);
    overflow: auto;

    path.link {
        stroke: var(--link-stroke);
        stroke-width: var(--link-stroke-width);
        fill: none;
    }

    path.link.child {
        stroke-dasharray: 10px;
    }

    >svg {
        margin: 20px;
    }

    .ooo-group {
        height: var(--group-max-height);

        >div {
            max-height: var(--group-max-height);
            overflow-y: auto;
            overflow-x: visible;
            width: 100%;

            table {
                border-collapse: collapse;
                width: 100%;

                td {
                    border: var(--group-table-border);
                    padding: 0px;

                    div {
                        height: var(--item-height);
                        margin: 0px;
                    }

                    .left {
                        min-width: var(--item-side-min-width);
                    }

                    .right {
                        min-width: var(--item-side-min-width);
                    }
                }

                >thead {
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    z-index: 1;
                }

                >thead>tr>td {
                    background-color: var(--item-header-background-color);
                    color: var(--item-header-font-color);
                    font: 18px bold;
                }

                >tbody>tr:nth-child(odd)>td {
                    background-color: var(--item-body-background-color-odd);
                    color: var(--item-body-font-color-odd);
                }

                >tbody>tr:nth-child(even)>td {
                    background-color: var(--item-body-background-color-even);
                    color: var(--item-body-font-color-even);
                }

                >tbody>tr>td>div {
                    padding-left: calc(var(--item-level) * 10px);
                    display: inline-block;
                    height: 20px;

                    >button {
                        background-color: transparent;
                        border: none;
                    }

                    >button.open:before {
                        content: url(./icon/open.svg);
                    }

                    >button.closed:before {
                        content: url(./icon/closed.svg);
                    }

                    >button.none:before {
                        content: url(./icon/none.svg);
                    }
                }
            }
        }
    }
}

.ooo-linkview>svg.highlight {
    tbody tr:not(.active) {
        opacity: 0.2;
    }

    path.link:not(.active) {
        opacity: 0.2;
    }
}