.ooo-linkview {
    path.link {
        stroke: black;
        stroke-width: 1px;
        fill: none;
    }

    .ooo-group {
        .left {
            width: 20px;
        }

        .right {
            width: 20px;
        }
    }
}